@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <a href="https://bitcoin.org/" target="_blank">
                <img src="~/img/Bitcoin.svg" alt="Bitcoin" class="social-logo" asp-append-version="true" />
            </a>

            <h1>Don`t Trust. Verify.</h1>
            <hr />
            <p class="fw-semibold">BTCPayJungle the original hosted server, open-source software, secure private censorship-resistant & free, supported by the community. 🌴</p>
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://btcpayserver.org" target="_blank">BTCPay Server Official website</a>
        </div>
    </div>
</header>

<h1 class="visually-hidden">Heroes examples</h1>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/img/logosquare.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Bitcoin Payment Processor</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            free hosted non-custodial invoicing system, All payments go directly to your wallet, which increases the privacy and security. Your private keys are never uploaded to the server. There is no address re-use since each invoice generates a new address deriving from your xpubkey.
            We care 110% about all users privacy, and maintain all the software updates. Lastest Version: bitcoin:0.21.1

        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://mempool.space" target="_blank">Mempool Space</a>
            <br />
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://blockstream.info" target="_blank">Bitcoin Explorer</a>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/img/btcpay-logo.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Bitcoin Is Our Future Today</h1>
            <p class="lead">
                Learn how to create your first e-commerce store in WordPress and WooCommerce begin accepting Bitcoin payment through BTCPay Jungle.
            </p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Peer To Peer</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">"On October 31st, 2008, an individual or group of individuals operating under the pseudonym "Satoshi Nakamoto" published the Bitcoin Whitepaper and described it as: "a purely peer-to-peer version of electronic cash would allow online payments to be sent directly from one party to another without going through a financial institution."</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="~/img/docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>



<div class="container">

    <div class="row">

        <div class="col-lg-8 mx-auto text-center">

            <h2>Thanks to our Jungle Sponsors!</h2>

            <hr class="primary">

            <p>

                <a href="https://blockstream.com/" target="_blank">
                    <img src="~/img/blks_logo_black_on_transparent_rgb.svg" alt="Blockstream" class="social-logo" asp-append-version="true" />


                </a> <br />

                <a href="https://coincards.com/" target="_blank">
                    <img src="~/img/cclogo.png" alt="Coincards" class="social-logo" asp-append-version="true" />


                </a> <br />

            </p>

        </div>

    </div>

</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Donate</h2>
                <hr class="primary">
                <p>
                    BTCPay Jungle is proudly free and open-source, built and maintained<br /> by a world-wide community of passionate contributors.<br />
                    Support us by donating.
                </p>

                <style type="text/css">
                    .btcpay-form {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btcpay-form--inline {
                        flex-direction: row;
                    }

                    .btcpay-form--block {
                        flex-direction: column;
                    }

                    .btcpay-form--inline .submit {
                        margin-left: 15px;
                    }

                    .btcpay-form--block select {
                        margin-bottom: 10px;
                    }

                    .btcpay-form .btcpay-custom-container {
                        text-align: center;
                    }

                    .btcpay-custom {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btcpay-form .plus-minus {
                        cursor: pointer;
                        font-size: 25px;
                        line-height: 25px;
                        background: #DFE0E1;
                        height: 30px;
                        width: 45px;
                        border: none;
                        border-radius: 60px;
                        margin: auto 5px;
                        display: inline-flex;
                        justify-content: center;
                    }

                    .btcpay-form select {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        color: currentColor;
                        background: transparent;
                        border: 1px solid transparent;
                        display: block;
                        padding: 1px;
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 11px;
                        cursor: pointer;
                    }

                        .btcpay-form select:hover {
                            border-color: #ccc;
                        }

                    #btcpay-input-price {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        border: none;
                        box-shadow: none;
                        text-align: center;
                        font-size: 25px;
                        margin: auto;
                        border-radius: 5px;
                        line-height: 35px;
                        background: #fff;
                    }

                        #btcpay-input-price::-webkit-outer-spin-button, #btcpay-input-price::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                </style>
                <style type="text/css">
                    input[type=range].btcpay-input-range {
                        -webkit-appearance: none;
                        width: 100%;
                        background: transparent;
                    }

                        input[type=range].btcpay-input-range:focus {
                            outline: 0;
                        }

                        input[type=range].btcpay-input-range::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3.1px;
                            cursor: pointer;
                            box-shadow: 0 0 1.7px #020,0 0 0 #003c00;
                            background: #f3f3f3;
                            border-radius: 1px;
                            border: 0;
                        }

                        input[type=range].btcpay-input-range::-webkit-slider-thumb {
                            box-shadow: none;
                            border: 2.5px solid #cedc21;
                            height: 22px;
                            width: 22px;
                            border-radius: 50%;
                            background: #0f3723;
                            cursor: pointer;
                            -webkit-appearance: none;
                            margin-top: -9.45px
                        }

                        input[type=range].btcpay-input-range:focus::-webkit-slider-runnable-track {
                            background: #fff;
                        }

                        input[type=range].btcpay-input-range::-moz-range-track {
                            width: 100%;
                            height: 3.1px;
                            cursor: pointer;
                            box-shadow: 0 0 1.7px #020,0 0 0 #003c00;
                            background: #f3f3f3;
                            border-radius: 1px;
                            border: 0;
                        }

                        input[type=range].btcpay-input-range::-moz-range-thumb {
                            box-shadow: none;
                            border: 2.5px solid #cedc21;
                            height: 22px;
                            width: 22px;
                            border-radius: 50%;
                            background: #0f3723;
                            cursor: pointer;
                        }

                        input[type=range].btcpay-input-range::-ms-track {
                            width: 100%;
                            height: 3.1px;
                            cursor: pointer;
                            background: 0 0;
                            border-color: transparent;
                            color: transparent;
                        }

                        input[type=range].btcpay-input-range::-ms-fill-lower {
                            background: #e6e6e6;
                            border: 0;
                            border-radius: 2px;
                            box-shadow: 0 0 1.7px #020,0 0 0 #003c00;
                        }

                        input[type=range].btcpay-input-range::-ms-fill-upper {
                            background: #f3f3f3;
                            border: 0;
                            border-radius: 2px;
                            box-shadow: 0 0 1.7px #020,0 0 0 #003c00;
                        }

                        input[type=range].btcpay-input-range::-ms-thumb {
                            box-shadow: none;
                            border: 2.5px solid #cedc21;
                            height: 22px;
                            width: 22px;
                            border-radius: 50%;
                            background: #0f3723;
                            cursor: pointer;
                            height: 3.1px;
                        }

                        input[type=range].btcpay-input-range:focus::-ms-fill-lower {
                            background: #f3f3f3;
                        }

                        input[type=range].btcpay-input-range:focus::-ms-fill-upper {
                            background: #fff;
                        }
                </style>
                <form method="POST" action="https://btcpayjungle.com/api/v1/invoices" class="btcpay-form btcpay-form--block">
                    <input type="hidden" name="storeId" value="EDEE4hbCKwc7sp7uXGuhEx4phrGKxjk6mnUd7sCVbgN9" />
                    <div class="btcpay-custom-container">
                        <input id="btcpay-input-price" name="price" type="text" min="0" max="none" step="any" value="10" style="width: 209px;" oninput="event.preventDefault();isNaN(event.target.value) || event.target.value <= 0 ? document.querySelector('#btcpay-input-price').value = 10 : event.target.value" onchange="document.querySelector('#btcpay-input-range').value = document.querySelector('#btcpay-input-price').value" />
                        <select name="currency">
                            <option value="USD" selected>USD</option>
                            <option value="GBP">GBP</option>
                            <option value="EUR">EUR</option>
                            <option value="BTC">BTC</option>
                        </select>
                        <input class="btcpay-input-range" id="btcpay-input-range" value="10" type="range" min="1" max="5000" step="1" style="width:209px;margin-bottom:15px;" oninput="document.querySelector('#btcpay-input-price').value = document.querySelector('#btcpay-input-range').value" />
                    </div>
                    <button type="submit" class="submit" name="submit" style="min-width:209px; min-height:57px; border-radius: 4px;border-style: none;background-color: #0f3b21;" alt="Pay with BtcPay, Self-Hosted Bitcoin Payment Processor">
                        <span style="color:#fff">Donate with</span>
                        <img src="https://btcpayjungle.com/img/logo.svg" style="height:57px;display:inline-block;padding: 5% 0 5% 5px;vertical-align: middle;">
                    </button>
                </form>


            </div>
        </div>
    </div>

</section>

<main>
    <h1 class="visually-hidden">Heroes examples</h1>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/btcpay-logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">BTCPay Jungle Community</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Oh yeah, it's that good. See for yourself.
                The software is built in C# and conforms to the invoice API of Bitpay. It allows for your website to be easily migrated from Bitpay and configured as a self-hosted or hosted payment processor. Founded in Aug 2017 by Nicolas Dorier. RockstarDev. BTCPay Community.
            </p>
        </div>
    </div>

    <div class="container">

        <div class="row social-row">
            <div class="col-6 col-md-3 ms-auto text-center">
                <a href="https://chat.btcpayserver.org/" target="_blank">
                    <img src="~/img/mattermost.svg" alt="Mattermost" class="social-logo" asp-append-version="true" />
                    <span>On Mattermost</span>

                </a>

            </div>
            <div class="col-6 col-md-3 ms-auto text-center">
                <a href="https://slack.btcpayserver.org/" target="_blank">
                    <img src="~/img/slack.svg" alt="Slack" class="social-logo" asp-append-version="true" />
                    <span>On Slack</span>

                </a>

            </div>
            <div class="col-6 col-md-3 me-auto text-center">
                <a href="https://twitter.com/BtcpayServer" target="_blank">
                    <img src="~/img/twitter.svg" alt="Twitter" class="social-logo" asp-append-version="true" />
                    <span>On Twitter</span>

                </a>

            </div>
            <div class="col-6 col-md-3 me-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">
                    <img src="~/img/github.svg" alt="Github" class="social-logo" asp-append-version="true" />
                    <span>On Github</span>

                </a>

            </div>

        </div>

    </div>

</main>


<footer class="pt-5 my-5 text-muted border-top">
    ❤️ BTCPay Jungle “Cypherpunks Write Code.” &middot; &copy; 2017 - 2021 🦁
</footer>
<br />

